    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">À Propos</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto">
	                <p class="lead">
                        Je suis enseignant en BTS SIO au lycée général et technologique Albert Londres à Cusset.
                        <br /><br />
                        Au sein du BTS SIO, il existe deux spécialités : le développement et le réseau. J'ai en charge l'enseignement des Solutions Logicielles et Applications Métiers (SLAM); Bref, c'est du dev !
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
	                <p class="lead">
                        Le développement Web tourne principalement autour des frameworks <span class="font-weight-bold">Symfony</span> et <span class="font-weight-bold">Django</span>.
                        Pour le Front-End, on travaille notamment avec le framework Bootstrap.
                        <br /><br />
                        Mais, on ne fait pas que du Web ! On travaille aussi sur le développement d'applications multi-plateformes avec <span class="font-weight-bold">JavaFX</span>, d'applications mobiles Android et sur l'analyse et l'administration des bases de données.
                    </p>
                </div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://nuage03.apps.education.fr/index.php/s/r8MePKynSwqEqqG" target="_blank">
                    <i class="fas fa-download mr-2"></i>
                    Accès à mes supports d'enseignement
                </a>
            </div>
        </div>
    </section>
