    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Adresse</h4>
                    <p class="lead mb-0">
                        Lycées Albert Londres
                        <br />
                        Boulevard du 8 Mai 1945
                        <br />
                        03306 Cusset, France
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Sur le Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://framagit.org/moulinux" target="_blank"><i class="fab fa-fw fa-gitlab"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://pouet.chapril.org/@moulinux" target="_blank"><i class="fab fa-fw fa-mastodon"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Sur le site</h4>
                    <p class="lead mb-0">
                        Ce site est généré avec <a href="https://blog.getpelican.com/" target="_blank">Pelican</a>
                        et hébergé sur les pages <a href="https://framagit.org/moulinux/moulinux.frama.io" target="_blank">Framagit</a>.
                        Le thème est adapté du
                        <a href="https://startbootstrap.com/themes/freelancer/" target="_blank">Freelancer Bootstrap</a>
                        .
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>
                Copyright &copy; Moulinux, Copyleft Moulinux, <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">Licence AGPLv3</a>
            </small>
        </div>
    </div>
